<template>
  <div>
    <ClassificationTree :type="0" />
  </div>
</template>

<script>

import Brand from '@/components/Brand.vue';
import ClassificationTree from '@/components/ClassificationTree.vue';
import axios from 'axios';

export default {
  components: {
    Brand,
    ClassificationTree
  }
}
</script>
