<template>
  <div>
    <Row class="button-panel">
      <Col span="24">
        <Button type="success" icon="plus-round" @click="modalSwitcher.accountAdd = true">添加账目 (钱包)</Button>
        <Modal
          :footerHide="true"
          v-model="modalSwitcher.accountAdd"
          title="添加财务 (钱包)"
          @on-cancel="modalSwitcher.accountAdd = false">
          <Form :model="accountForm" :label-width="100">
            <FormItem label="钱包名称">
              <Input v-model="accountForm.name" placeholder="请输入财务 (钱包) 名称..."></Input>
            </FormItem>
            <FormItem>
              <Button type="primary" @click="accountAdd">添加</Button>
              <Button type="default" @click="modalSwitcher.accountAdd = false">取消</Button>
            </FormItem>
          </Form>
        </Modal>
      </Col>
    </Row>
    <Row>
      <Col span="24">
        <Table
          :loading="tableLoading"
          stripe
          size="small"
          :data="accountData"
          :columns="accountColumns"
          no-data-text="记点账吧"></Table>
      </Col>
    </Row>
  </div>
</template>

<script>

import TableExpand from './TableExpand.vue';
import axios from 'axios';

export default {
  components : {
    TableExpand,
  },
  created() {
    const self = this;
    axios.get('http://localhost:5000/api/rest/accounts/')
      .then((response) => {
        let accountData = [];
        for (let account of response.data) {
          accountData.push({
            id: account.id,
            name: account.name,
            createTime: account.created_at,
            balance: account.balance,
          });
        }
        self.accountData = accountData;
        self.tableLoading = false;
      });
  },
  data () {
    return {
      tableLoading: true,
      accountForm: {
        name: ''
      },
      modalSwitcher: {
        accountAdd: false,
      },
      accountData: [],
      accountColumns: [
        {
          type: 'expand',
          width: 50,
          render (h, params) {
            return h('div', [
              h(TableExpand, {
                props: {
                  row: params.row
                }
              }),
            ]);
          }
        },
        {
          title: '名称',
          key: 'name',
          sortable: true,
        },
        {
          title: '余额',
          key: 'balance',
          sortable: true,
          align: 'right',
          render (h, params) {
            return h('div', [
              h('i', {
                class: [
                  'fa',
                  'fa-fw',
                  'fa-jpy'
                ]
              }),
              h('strong', params.row.balance),
            ]);
          }
        },
        {
          title: '创建时间',
          width: '160',
          key: 'createTime',
          align: 'right',
          sortable: true
        },
        {
          width: '100',
          title: '操作',
          key: 'action',
          align: 'right',
          sortable: false,
          render (h, params) {
            return h('div', [
              h('Button', {
                props: {
                  type: 'primary',
                  size: 'small'
                },
                style: {
                  marginRight: '5px',
                },
                on: {
                  click () {
                    alert(params.row.id)
                  }
                }
              }, [
                h('i', {
                  style: {
                    marginRight: '5px',
                  },
                  class: [
                    'fa',
                    'fa-fw',
                    'fa-list'
                  ]
                }),
                '明细'
              ])
            ]);
          }
        }
      ]
    }
  },
  methods: {
    accountAdd () {
    }
  }
}
</script>

<style>
.button-panel {
  margin-bottom: 10px;
  text-align: right;
}
</style>
