<template>
  <div id="data-source-con"></div>
</template>

<script>
import echarts from 'echarts';

export default {
  name: 'chart',
  props: {
    row: Object
  },
  data () {
    return {
      // nothing to return
    };
  },
  name: 'chart',
  mounted () {
    this.$nextTick(() => {
      var dataSourcePie = echarts.init(document.getElementById('data-source-con'));
      const option = {
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
          orient: 'vertical',
          left: 'left',
          data: ['VPS', '老头子消费', '抽烟', '可口可乐', '早点铺子'],
          padding: 10
        },
        series: [
          {
            name: '微信',
            type: 'pie',
            radius: '66%',
            center: ['60%', '60%'],
            data: [
              {
                value: 200,
                name: 'VPS',
                itemStyle: {
                  normal: {
                    color: '#9bd598'
                  }
                }
              },
              {
                value: 100,
                name: '老头子消费',
                itemStyle: {
                  normal: {
                    color: '#ffd58f'
                  }
                }
              },
              {
                value: 50,
                name: '抽烟',
                itemStyle: {
                  normal: {
                    color: '#abd5f2'
                  }
                }
              },
              {
                value: 32,
                name: '可口可乐',
                itemStyle: {
                  normal: {
                    color: '#ab8df2'
                  }
                }
              },
              {
                value: 208,
                name: '早点铺子',
                itemStyle: {
                  normal: {
                    color: '#e14f60'
                  }
                }
              }
            ],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      };
      dataSourcePie.setOption(option);
      window.addEventListener('resize', function () {
        dataSourcePie.resize();
      });
    });
  }
};
</script>

<style>
#data-source-con {
  min-height: 300px;
  min-width: 300px;
}
</style>
