<template>
  <div>
    <Row>
      <Col span="11">
        <Chart />
      </Col>
      <Col span="13">
        <Transaction />
      </Col>
    </Row>
  </div>
</template>

<script>
import Chart from './Chart.vue';
import Transaction from './Transaction.vue';

export default {
  name: 'tableexpand',
  components: {
    Chart,
    Transaction
  }
};
</script>
