<template>
  <div>
    <Table height="300" :columns="columns" :data="data" :show-header="false"></Table>
  </div>
</template>

<script>

import TransactionTag from './Transaction/Tag.vue';
import { Icon } from 'view-design';

export default {
  name: 'transcation',
  data () {
    return {
      columns: [
        {
          title: '支出分类',
          key: 'tag',
          render (h, params) {
            return h(TransactionTag, {
              props: {
                tag: params.row.tag
              }
            });
          }
        },
        {
          title: '支出时间',
          key: 'createdAt'
        },
        {
          title: '费用',
          key: 'fee',
          align: 'right',
          className: 'fee',
          render (h, params) {
            return h('div', {}, [
              h(Icon, {
                props: {
                  type: 'social-yen'
                }
              }),
              ' ',
              params.row.fee
            ]);
          }
        }
      ],
      data: [
        {
          createdAt: '01/01 12:12',
          fee: '32.17',
          tag: [
            '支出',
            'VPS'
          ]
        },
        {
          createdAt: '01/01 13:12',
          fee: '19.00',
          tag: [
            '支出',
            '可口可乐'
          ]
        },
      ]
    };
  }
};
</script>

<style>

  td.fee {
    font-weight: 400;
  }

</style>
