.margin-top-8 {
  margin-top: 8px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-right-10 {
  margin-right: 10px;
}

.padding-left-6 {
  padding-left: 6px;
}

.padding-left-8 {
  padding-left: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-20 {
  padding-left: 20px;
}

.height-100 {
  height: 100%;
}

.height-120px {
  height: 100px;
}

.height-200px {
  height: 200px;
}

.height-492px {
  height: 492px;
}

.height-460px {
  height: 460px;
}

.line-gray {
  height: 0;
  border-bottom: 2px solid #dcdcdc;
}

.notwrap {
  word-break: keep-all; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.padding-left-5 {
  padding-left: 10px;
}

[v-cloak] {
  display: none;
}
