<template>
  <div>
    <Row>
      <Tag color="#9bd598">
        {{ tag.join(' ➱ ') }}
      </Tag>
    </Row>
  </div>

</template>

<script>
export default {
  name: 'TransactionTag',
  data () {
    return {
      // nothing
    };
  },
  props: {
    tag: Array
  }
}
</script>
