<template>
  <Card>
    <p slot="title">
      <Tooltip content="2017/12/12 12:12:12" placement="right" style="cursor: pointer;">
        <Icon type="ios-person"></Icon> &#160; 李福龙
      </Tooltip>
    </p>
    <Timeline :pending="!more">
      <template v-for="(transaction, index) in transactions">
        <template v-if="index < 2 || more">
          <TimelineItem :color="transaction.fee > 0 ? 'red' : 'green' " :key="index">
            <span>{{ transaction.time }}</span>
            <span>
              <Icon type="social-yen"></Icon>
              {{ transaction.fee }}
            </span>
          </TimelineItem>
        </template>
      </template>
      <TimelineItem v-if="!more" style="cursor: pointer;" color="blue">
        <a href="#" @click="more = ! more">more ...</a>
      </TimelineItem>
    </Timeline>
</Card>
</template>

<script>

export default {
  data () {
    return {
      more: false,
      transactions: [
        {
          time: '2017/01/01 12:12:23',
          fee: '2000',
        },
        {
          time: '2017/01/01 12:12:23',
          fee: '-100',
        },
        {
          time: '2017/01/01 12:12:23',
          fee: '-1000',
        },
        {
          time: '2017/01/01 12:12:23',
          fee: '-300',
        },
        {
          time: '2017/01/01 12:12:23',
          fee: '-500',
        },
      ]
    }
  },
  methods: {
    foobar () {
      alert('foobar');
    }
  }

}
</script>

<style>

</style>
