<template>
  <div class="dashboard">
    <Row>
      <Col span="10" offset="6">
        <Input size="large" class="dashboard-input"></Input>
      </Col>
    </Row>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped lang="scss">

.dashboard {
  margin-top: 50px;

  .dashboard-input {
    height: 60px;

  }
}

</style>
