<template>
  <div>
    <div :style="{ backgroundColor: backgroundColor }" class="brand" v-if="title && backgroundColor && icon">
      <Icon :type="icon" class="icon"></Icon>
      &#160;
      <span>
        {{ title }}
      </span>

      <span>
        <Icon type="md-close" />
      </span>
    </div>
  </div>
</template>

<script>

export default {
  name: 'brand',
  props: {
    backgroundColor: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    showMainTag: {
      type: Boolean,
      default: true,
    }
  }
}
</script>

<style lang="scss" scoped>

  .brand {
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    height: 40px;

    * {
      float: left;
      line-height: 40px;
      vertical-align: middle;
    }

    padding: {
      left: 6px;
      top: 0;
      bottom: 0;
      right: 6px;
    };

    .icon {
      font-size: 18px;
      width: 24px;
      text-align: center;
      border: none;
    }
  }
</style>
