<template>
  <div>
    <Row>
      <Col span="20">
        <Tree :data="classificationTree"></Tree>
      </Col>
      <Col span="4" class="button-panel">
        <Button
          @click="modalSwitcher=true"
          type="primary"
          shape="circle"
          icon="ios-add"
        ></Button>
        <Modal
          v-model="modalSwitcher"
          title="添加分类"
          @on-ok="createClassifiaction"
        >
          <Form :label-width="64">
            <FormItem label="名称" :label-width="80">
              <Input type="text" v-model="name"  placeholder="请输入分类名称..." />
            </FormItem>
            <FormItem label="图表" :label-width=80>
              <div v-for="(iconName, index) in icons"
                :key="index + iconName"
                class="icon"
                :class="{ 'icon-active' : iconActive === iconName}"
                @click="selectIcon(iconName)"
                style="cursor: pointer;"
              >
                <Icon :type="iconName"></Icon>
              </div>
            </FormItem>
            <FormItem label="配额" :label-width=80>
              <Input
                v-model="quota"
                placeholder="请输入配额"
                prefix="logo-yen"
              />
            </FormItem>
            <FormItem label="父分类" :label-width=80>
              <Select
                v-model="classificationActive"
                @on-change="changeSelectedClassification"
                >
                <Option
                  v-for="item in rootClassificaitons"
                  :value="item.id"
                  :key="item.id"
                >{{ item.title }}</Option>
              </Select>
            </FormItem>
            <FormItem label="颜色标注" :label-width="80">
              <div
                v-for="(color, index) in colors"
                class="color"
                :class="{ 'color-active' : colorActive === color}"
                :style="{ backgroundColor: color }"
                :key="index + color"
                @click="selectColor(color)"
              >
              </div>
            </FormItem>
            <FormItem label="预览" :label-width="80">
              <div :style="{ backgroundColor: colorActive }" class="preview">
                <Icon :type="iconActive" class="icon">{{ name }}</Icon>
                <span v-if="name">
                  {{ classificationActiveTitle }} - {{ name }}
                </span>
              </div>
            </FormItem>
          </Form>
        </Modal>
      </Col>
    </Row>

  </div>
</template>

<script>

import Brand from '@/components/Brand.vue';
import axios from 'axios';

export default {
  props: {
    type: {
      required: true,
      type: Number
    }
  },
  components: {
    Brand
  },
  created () {
    // 设定为本地 classificaitionType
    this.classificationType = this.type;
    this.switchClassification(this.classificationType);
  },
  data () {
    return {
      classificationType: 0,
      classificationTree: [],
      rootClassificaitons: [],
      modalClassificationType: 0,
      iconActive: '',
      colorActive: '',
      classificationActive: '',
      quota: 0,
      classificationActiveTitle: '',
      name: '',
      modalSwitcher: false,
      colors: [
        '#9ad3de',
        '#9bd598',
        '#ffd58f',
        '#abd5f2',
        '#ab8df2',
        '#e14f60',
        '#b0aac2',
        '#f38abf',
        '#5e0231',
        '#856046',
        '#c43235',
        '#667467',
        '#252839',
        '#677077',
        '#f2b632',
        '#e05915',
        '#df7fb0',
        '#5ab9ea',
        '#0055a4',
      ],
      icons: [
        'md-swap',
        'md-flag',
        'md-snow',
        'md-shuffle',
        'md-heart',
        'md-build',
        'md-construct',
        'md-jet',
        'md-paper-plane',
        'md-beer',
        'md-wine',
        'md-film',
        'ios-pizza',
        'md-ice-cream',
        'md-disc',
        'logo-xbox',
        'logo-playstation',
        'logo-steam',
        'md-mic',
        'ios-bowtie',
        'ios-book',
        'ios-football',
        'ios-musical-notes',
        'ios-cart',
        'ios-medkit',
        'ios-body',
      ]
    };
  },
  methods: {
    selectIcon (icon) {
      this.iconActive = icon;
    },
    selectColor(color) {
      this.colorActive = color;
    },
    switchClassification(type) {
      // 0（支出)
      this.classificationType = type;
      this.queryClassifications(type);
    },
    _renderBrand(classification, expand=false) {
      return {
        render (h, params) {
          return h(Brand, {
            props: {
              title: classification.title,
              backgroundColor: classification.color ? classification.color : '#0055a4',
              icon: classification.icon ? classification.icon : 'logo-xbox'
            }
          })
        },
        expand
      }
    },
    queryClassifications(type) {
      let self = this;
      axios.get(`http://localhost:5000/api/rest/classifications/?type=${type}`)
        .then((response) => {
          let classifications = [];
          let rootClassificaitons = [];
          for (let classification of response.data) {
            let renderedClassification = self._renderBrand(classification);
            rootClassificaitons.push({
              id: classification.id,
              title: classification.title,
            });

            if (classification['children']) {
              let subClassifictions = [];
              for (let subClassifiction of classification['children']) {
                subClassifictions.push(self._renderBrand(subClassifiction))
              }
              renderedClassification['children'] = subClassifictions;
            }
            classifications.push(renderedClassification);
          }

          self.classificationTree = classifications;
          self.rootClassificaitons = rootClassificaitons;
        });
    },
    changeSelectedClassification() {
      for (let classification of this.rootClassificaitons) {
        if (classification.id == this.classificationActive) {
          this.classificationActiveTitle = classification.title;
          break;
        }
      }
    },
    createClassifiaction() {
      axios.post('http://localhost:5000/api/rest/classifications/', {
        title: this.name,
        icon: this.iconActive,
        color: this.colorActive,
        quota: this.quota,
        parentClassificationId: this.classificationActive,
      });
    }
  }
}
</script>

<style scoped lang="scss">

  .icon {
    font-size: 24px;
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    text-align: center;
    border-radius: 4px;
  }

  .icon-active {
    border-color: #ccc;
  }

  .color {
    border-radius: 4px;
    height: 30px;
    width: 10%;
    float: left;
    margin: 4px;
    cursor: pointer;
  }

  .color-active {
    box-shadow: 4px 4px 4px #aaa;
  }

  .preview {
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    height: 40px;

    * {
      float: left;
      line-height: 40px;
      vertical-align: middle;
    }

    padding: {
      left: 2px;
      top: 0;
      bottom: 0;
      right: 10px;
    };

    .icon {
      line-height: 30px;
      font-size: 16px;
      width: 20px;
      border: none;
    }
  }

  .button-panel {
    margin-bottom: 10px;
    text-align: right;
  }
</style>

<style>
  .ivu-tree-arrow {
    margin-top: 10px;
  }
</style>
