<template>
  <div id="app" class="app-main">
    <div class="layout">
      <Row type="flex">
        <Col span="3" class="layout-menu-left">
          <Menu theme="dark" :accordion="true" :active-name="sidebarActiveName" width="auto" @on-select="selectSidebar" :open-names="sidebarOpenName">
            <div class="layout-logo-left"></div>
            <template v-for="(route, index) in $store.state.routes">
              <template v-if="!route.children">
                <MenuItem :name="route.name" :key="index">
                  <Icon :type="route.icon" :key="index"></Icon>
                  {{ route.title }}
                </MenuItem>
              </template>
              <template v-else>
                <Submenu :name="route.name" :key="index">
                  <template slot="title">
                    <Icon :type="route.icon"></Icon>
                    {{ route.title }}
                  </template>
                  <template v-for="(children, index) in route.children">
                    <MenuItem :name="children.name" :key="index">
                      <template slot>
                        <Icon :type="children.icon" :key="index"></Icon>
                        {{ children.title }}
                      </template>
                    </MenuItem>
                  </template>
                </Submenu>
              </template>
            </template>
          </Menu>
        </Col>
        <Col span="21">
          <div class="layout-header">
            <div class="layout-ceiling">
              <div class="layout-ceiling-main">
                <a href="#">
                  <Dropdown trigger="hover" placement="bottom-end" @on-click="avatarDropdown">
                    <a href="javascript:void(0)">
                      <Badge dot>
                        <Avatar shape="square" icon="person" size="small"  />
                      </Badge>
                    </a>
                    <DropdownMenu slot="list">
                      <div>
                        <DropdownItem name="profile">账号资料</DropdownItem>
                        <DropdownItem divided name="logout">退出登录</DropdownItem>
                      </div>
                    </DropdownMenu>
                  </Dropdown>
                </a>
              </div>
            </div>
          </div>
          <div class="layout-breadcrumb">
            <Breadcrumb>
              <template v-for="bc in breadcrumbs">
                <BreadcrumbItem :key="bc.path" :to="bc.path">{{ bc.title }}</BreadcrumbItem>
              </template>
            </Breadcrumb>
          </div>
          <div class="layout-content">
            <div class="layout-content-main">
              <router-view></router-view>
            </div>
          </div>
          <div class="layout-copy">
            2019-2020 &copy; Tally-Book
          </div>
        </Col>
      </Row>
    </div>
  </div>
</template>

<<script>

import { mapState } from 'vuex';

export default {
  name: 'app',
  data() {
    return {
    }
  },
  mounted () {
  },
  created () {
  },
  computed: {
    ...mapState({
      breadcrumbs (state) {
        // 找到配置的 breadcrumbs
        // 有可能在第一层, 有可能在 children 中
        let breadcrumbs;
        for(const i in state.routes) {
          if (state.routes[i].name === state.route.name) {
            breadcrumbs = state.routes[i].breadcrumbs;
            break;
          }

          if (state.routes[i].children) {
            for(const j in state.routes[i].children) {
              if (state.routes[i].children[j].name === state.route.name) {
                breadcrumbs = state.routes[i].children[j].breadcrumbs;
                break;
              }
            }
          }
        }
        return breadcrumbs;
      },
      sidebarActiveName: (state) => state.route.name,
      sidebarOpenName (state) {
        const routeName = state.route.name;
        let openNames = [];

        state.routes.map((rootRoute) => {
          // 遍历所有子路由, 判断子路由中是否包含当前路由, 包含展开当前路由
          if (rootRoute.children &&  rootRoute.children.some((route) => {
            return route.name === routeName;
          })) {
            openNames.push(rootRoute.name);
          }
        });

        return openNames;
      }
    }),
  },
  methods: {
    selectSidebar (name) {
      this.$router.push({
        name
      });
    },
    avatarDropdown (name) {
      this[`_${name}`].call(this);
    },
    _profile () {
      this.$router.push('/profile');
    },
    _logout () {
      this.$router.push('/logout');
    }
  }
}
</script>

<style lang="scss">
  @import './styles/common.scss';

  html, body {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    overflow: hidden;
  }

  .app-main {
    width: 100%;
    height: 100%;
  }

  .layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    height: 100%;
  }

  .layout-breadcrumb {
    padding: 10px 15px 0;
  }

  .layout-content {
    min-height: 700px;
    margin: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
  }

  .layout-content-main {
    padding: 10px;
  }

  .layout-copy {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
  }

  .layout-menu-left {
    background: #464c5b;
    height: 100%;
  }

  .layout-header {
    height: 44px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
  }

  .layout-logo-left {
    width: 90%;
    background: #5b6270;
    border-radius: 3px;
    margin: 15px auto;
    height: 30px;
  }

  .ivu-row-flex {
    height: 100%;
  }

  .layout-ceiling {
    background: #464c5b;
    padding: 10px 0;
    overflow: hidden;
  }

  .layout-ceiling-main {
    float: right;
    margin-right: 15px;
  }

  .layout-ceiling-main a {
    color: #9ba7b5;
  }
</style>
